body {
    font-family: sans-serif;
}

header {
    background-color: rgb(147, 234, 244);
    padding: 50px;
}

header a {
    text-decoration: none;
    background-color: white;
    color: rgb(0, 106, 255);
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

header a:hover {
    color: white;
    background-color: rgb(0, 106, 255);
}

h1 {
    font-size: 90px;
    text-align: center;
    color: rgb(147, 234, 244);
    text-shadow: 10px 20px 10px rgb(29 115 115 / 10%);
}

li {
    font-size: 25px;
}

footer {
    display: flex;
    background-color: rgb(147, 234, 244);
    padding: 40px;
    color: white;
    margin-top: 30px;
}

footer div {
    margin: 10px;
    font-size: 20px;
}

.text-big {
    font-size: 25px;
}

nav a {
    background-color: rgb(147, 234, 244);
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

p {
    font-size: 25px;
}

a {
    text-decoration: none;
}
